[Unit]
Description=Arrested Development API
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/dotnet /var/www/arrestedapi/ArrestedAPI.dll
WorkingDirectory=/var/www/arrestedapi
User=www-data

Restart=no

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target